<div id="connect">
  <a id="connectToggle" class="close active" href="#"><span></span></a>

  <div class="left-panel show-for-medium cover-bg" style="background-image: url(http://salt.herokuapp.com/images/girl.jpg)">
    <div class="row expanded align-middle align-center collapse">
      <div class="small-9 large-6 columns text-center">
        <div class="row align-middle align-center social-header">
          <div class="small-12 medium-12 large-10 columns text-center small-pad medium-pad-medium contrast-text">
            <img src="http://salt.herokuapp.com/images/white-logo.png" width="100"/>
            <h3><strong>Keep salty</strong></h3>
            <p style="padding: 0 45px;">Follow us and be current with our work, adventures, meet-ups and other such foolery.</p>
          </div>
        </div>
        <div class="row align-middle align-center expanded">
          <div class="flex expanded social-list columns text-center secondary-bg">
            <div>
              <a href="http://dribbble.com/devanflaherty" target="_blank"><i class="flaticon social dribbble"></i></a>
            </div>
            <div>
              <a href="http://twitter.com/devanflaherty" target="_blank"><i class="flaticon social twitter"></i></a>
            </div>
            <div>
              <a href="http://instagram.com/saltagency" target="_blank"><i class="flaticon social instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- CLOSE LEFT PANEL -->

  <div class="right-panel off-white-bg">
    <div class="row expanded align-middle">
      <div class="columns">
        <h2 class="logo">SALT</h2>
        (480)388.1741<br>
        <a class="strip" href="mailto:hello@saltagency.com">hello@saltagency.com</a><br>
        <a class="strip" href="http://twitter.com/devanflaherty" target="_blank">@saltagency</a>
      </div>
    </div>
  </div><!-- CLOSE RIGHT PANEL -->
</div>
