<div class="full-nav">
  <ul>
    {{navigation}}
  </ul>

  <div class="info">
    <p>
      (480)388.1741<br>
      <a class="strip" href="mailto:hello@saltagency.com">hello@saltagency.com</a><br>
      <a class="strip" href="http://twitter.com/devanflaherty" target="_blank">@saltagency</a>
    </p>
  </div>
</div>
