<div id="connect">
  <a id="connectToggle" class="close active" href="#"><span></span></a>

  <div class="left-panel show-for-medium cover-bg contrast-bg">
    <div class="row expanded align-middle align-center collapse">
      <div class="medium-10 large-7 align-center columns contrast-text social-header">
        <h2>Catch<br>Our<br>Wake</h2>
        <p>Follow us and be current with our work, adventures, meet-ups and other such foolery.</p>

        <div class="row align-middle">
          <div class="small-7 align-center columns contrast-text social-header">
            <div class="flex social-list expanded columns text-center">
              <div>
                <a href="http://dribbble.com/devanflaherty" class="link" target="_blank"><i class="fa fa-dribbble"></i></a>
              </div>
              <div>
                <a href="http://twitter.com/devanflaherty" class="link" target="_blank"><i class="fa fa-twitter-square"></i></a>
              </div>
              <div>
                <a href="http://instagram.com/devanflaherty" class="link" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
              <div>
                <a href="https://plus.google.com/102247216278652272435" class="link" target="_blank"><i class="fa fa-google-plus-square"></i></a>
              </div>
              <div>
                <a href="https://facebook.com/saltagencymt" class="link" target="_blank"><i class="fa fa-facebook-square"></i></a>
              </div>
            </div>
          </div>
        </div><!-- close row -->

      </div>
    </div><!-- close row-->
  </div><!-- CLOSE LEFT PANEL -->

  <div class="right-panel off-white-bg">
    <div class="row expanded align-middle">
      <div class="columns">
        <h2 class="logo">Salt</h2>
        (480)388.1741<br>
        <a class="strip" href="mailto:hello@saltagency.co">hello@saltagency.com</a><br>
        <a class="strip" href="http://twitter.com/devanflaherty" target="_blank">@saltagency</a>
      </div>
    </div>
  </div><!-- CLOSE RIGHT PANEL -->
</div>
