<li class="hide-for-medium"><a class="HomeNav" href="http://salt.heroku.com">home</a></li>
<li><a class="ShowcaseNav" href="http://salt.heroku.com/showcase">showcase</a></li>
<li><a class="ProcessNav" href="http://salt.heroku.com/process">process</a></li>
<li><a class="BlogNav" href="http://salty-ghost.heroku.com/">blog</a></li>
