<li><a class="HomeNav" href="http://saltagency.co">home</a></li>
<li><a class="ShowcaseNav" href="http://saltagency.co/showcase">showcase</a></li>
<li><a class="ProcessNav" href="http://saltagency.co/process">process</a></li>
<li><a class="BlogNav" href="/">blog</a></li>
<li class="show-for-medium"><a class="toggleConnect" href="#">connect</a></li>
