/* CONTENT BODY */
$cbmargin : 80px;
#contentBody {
  max-width: 100%;
  overflow: hidden;
  .content .columns {
    & > p:last-child {
      margin-bottom: 0
    }
    & > :only-child {
      margin: $cbmargin 0;
    }
    & > :last-child {
      margin-bottom: $cbmargin!important;
    }
    & > :first-child {
      margin-top: $cbmargin!important;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    a {
      cursor: text;
      color: $black;
    }
  }
  h2 {
    text-transform: none;
    margin-bottom: 18px;
  }
  h3 {
    margin: $cbmargin/2 0;
  }
  h4 {
    font-family: $sans800;
    letter-spacing: -1px;
  }
  h5 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: $cbmargin/2 0;
    font-size: 30px;
    font-family: $sans400;
    @include breakpoint(medium) {
      letter-spacing: 5px;
    }
  }
  h6 {
    margin: $cbmargin/2 0;
  }
  p {
    width: 100%;
    margin-bottom: $cbmargin/2;
    strong {
      font-family: $sans800;
      font-weight: 200;
    }
  }
  .flex-video {
    margin: $cbmargin 0;
  }
  .flex-wrap {
    padding: 0!important;
    .columns {
      padding: 0!important;
      @include flex-grid-column(6);
      &:only-child, &:nth-child(3n) {
        @include flex-grid-column(12);
      }
      @include breakpoint(medium) {
        @include flex-grid-column();
        &:only-child, &:nth-child(3n) {
          @include flex-grid-column();
        }
      }
      img {
        width: 100%; height: auto;
      }
      h6 {
        margin-left: 32px;
        margin-bottom: 12px;
        margin-top: 0px;
        font-size: 18px;
        color: $medium-gray;
        font-family: $sans400;
        border-color: $medium-gray;
      }
    }
  }
  p + blockquote {
    margin: $cbmargin 0 $cbmargin;
  }
  blockquote {
    font-family: Georgia;
    border-left: 4px solid $secondaryColor;
    margin: $cbmargin 0;
    padding-top: 4px;
    font-size: 24px;
    p {
      color: $medium-gray;
      line-height: 26px;
      padding: 0;
      margin: 0;
      font-style: italic;
    }
    strong {
      font-family: $serif;
      font-weight: bold;
    }
  }
  pre {
    box-sizing: border-box;
    margin: 0 0 $cbmargin/2 0;
    border: lighten($secondaryColor, 5%) 1px solid;
    width: 100%;
    padding: 24px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: lighten($secondaryColor, 10%);
    border-radius: 3px;
    code, tt {
      white-space: pre-wrap;
      background: transparent;
      border: none;
      padding: 0;
    }
  }
}
