html, body {
  height:100%!important;
  height: auto;
  &.connectFixed, &.navFixed {
    position: fixed;
    width: 100%;
  }
}
body {
  background-color: #fff;
}


/************************

** UTILITY CLASSES

*************************/
.contrast-bg {
  background-color: $black;
}
.primary-bg {
  background-color: $primaryColor;
}
.secondary-bg {
  background-color: $secondaryColor;
}
.tertiary-bg {
  background-color: $tertiaryColor;
}
.white-bg {
  background-color: $white;
}
.off-white-bg {
  background-color: $offWhite;
}
.contrast-text {
  h1, h2, h3, h4, h5, h6, p, blockquote, span, a {
    color: $offWhite!important;
  }
  h1.logo.black {
    color: $black!important;
  }
  h6 {
    border-color: $offWhite;
  }
  .subheader {
    color: $white!important;
    border-color: $offWhite!important;
  }
  a.link {
    color: $offWhite;
    border-color: $offWhite!important;
  }
  .nav-toggle {
    span:before, span:after {
      background: $offWhite!important;
    }
    &.active span:before, &.active span:after  {
      background: $black!important;
    }
  }
  .go-down {
    .go-down-icon {
      background-image: url(http://www.saltagency.co/images/down-white.png)!important;
    }
  }
}

// BUTTON
.button {
  padding: 12px 26px;
  font-family: $sans800;
  font-size: 14px;
  color: $black;
  letter-spacing: 3.5px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease;
  background: none!important;
  &.white {
    background-color: $offWhite!important;
    &:hover {
      background-color: darken($offWhite, 10%)!important;
    }
  }
}
p a {
 font-family: $sans600;
 transition: all 0.25s ease;
}
a.strip {
  font-size: 15px;
  line-height: 0px;
  padding: 0 0 2px!important;
  margin-bottom: -15px;
  color: $black;
  transition: all 0.25s ease;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $primaryColor;
  }
}
.hr-icon {
  width: 20px;
  height: auto;
  display: block;
  margin: 25px auto 25px;
}

// PADDING
@include breakpoint(small) {
  .small {
    &-pad {
      padding: 30px 0;
    }
    &-pad-medium {
      padding: 100px 0;
    }
    &-pad-large {
      padding: 200px 0;
    }
  }
}
@include breakpoint(medium) {
  .medium {
    &-pad {
      padding: 30px 0;
    }
    &-pad-medium {
      padding: 100px 0;
    }
    &-pad-large {
      padding: 200px 0;
    }
  }
}

// PARALLAX
.para-parent {
  position: relative;
  overflow: hidden;
  .row {
    position: relative;
  }
}
.parallax {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: cover!important;
  background-position: center;
  transform: scale(1.5);
  opacity: 1;
  transition: opacity 1s ease;
  @include breakpoint(small only) {
  //  background-position: 50% 0px!important;
  //  transform: scale(1);
  }
  &.invisible {
    opacity: 0;
  }
}
.cover-bg {
  background-size: cover!important;
}
.overlay {
  opacity: 0;
  background: $primaryColor;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
}

/************************

** TYPOGRAPHY CLASSES

*************************/
a.link {
  font-family: $sans600;
  border-bottom: 2px solid $black;
  color: $black;
  padding-bottom: 3px;
  transition: all 0.25s ease;
  &:hover {
    padding-right: 30px;
  }
}
h1, h2, h3, h4, h5 {
  &.sans {
    font-family: $sans600;
    font-weight: 200;
    strong {
      font-family: $sans800;
      font-weight: 200;
    }
  }
}
h2 {
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-size: 90px;
  line-height: 80px;
  @include breakpoint(large) {
    font-size: 120px;
    line-height: 110px;
  }
  strong {
    font-family: $serif;
    color: $black;
  }
  span {
    color: $primary-color;
  }
  &.brand-vision {
    font-size: 70px;
    line-height: 60px;
    @include breakpoint(large) {
      font-size: 90px;
      line-height: 80px;
    }
  }
}
h3 {
  color: $black;
  font-size: 50px;
  line-height: 45px;
  @include breakpoint(medium) {
    font-size: 80px;
    line-height: 70px;
  }
  @include breakpoint(large) {
    font-size: 100px;
    line-height: 90px;
  }
}
h6 {
  font-size: 20px;
  font-family: $sans600;
  padding-top: 3px;
  letter-spacing: -1px;
  display: inline-block;
  border-top: 2px solid $black;
}
.serif {
  font-family: $serif;
}
.sans {
  font-family: $sans400;
}
.hint {
  color: $medium-gray;
  font-family: $sans400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  @include breakpoint(medium) {
    font-size: 18px;
  }
}
.iphone .hint,.ipad .hint {
  margin: 0 0 20px;
}

/************************

** HEADER

*************************/
#header {
  overflow: hidden;
  position: relative;
  min-height: 400px!important;
  height:100vh;
  padding-top: 20px;
  background: $offWhite;
  @include breakpoint(medium) {
    padding-top: 0;
    min-height: 580px!important;
  }
  &.contrast-text {
    background: #000;
  }
  nav#main-nav {
    position: relative;
    z-index: 100;
    padding: 0;
    text-align: right;
    @include breakpoint(small only) {
      height: 50px;
    }
    @include breakpoint(medium) {
      padding: 32px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      @include flex-grid-row() { }
      @include flex-align(center, middle);
      li {
        flex: 0 1 auto;
        margin: 0 18px;
        a {
          font-size: 14px;
          letter-spacing: 5px;
          color: $black;
          border-bottom: 2px solid transparent;
          transition: all 0.5s ease;
          font-family: $sans600;
          text-transform: uppercase;
          opacity: 0.9;
          position: relative;
          &:hover {
            border-bottom: 2px solid $primaryColor;
            opacity: 1;
          }
          &.active {
            border-bottom: 2px solid $primaryColor;
            opacity: 1;
            font-family: $sans800;
          }
        }
      }
    }
  }
  .project #headline {
    @include flex-align(center, stretch);
    .page-links {
      @include flex();
      @include flex-align(left, bottom);
      @include flex-grid-column(6);
      border-bottom: 4px solid transparent;
      @include breakpoint(medium) {
        border-bottom: 4px solid $primary-color;
        text-align: left;
        @include flex-grid-column(7);
      }
    }
    h1.logo {
      @include breakpoint(medium) {
        margin-bottom: -10px!important;
        font-size: 60px!important;
        line-height: 60px;
        margin-left: 0;
      }
    }
    .subheader-wrap {
      @include breakpoint(medium) {
        @include flex-grid-column(7);
        border-left: none;
      }
    }
    p.subheader {
      font-size: 100px;
      line-height: 80px;
      padding: 20px 0 0px;
      word-spacing: 9999999px;
      @include breakpoint(medium) {
        font-size: 100px;
        line-height: 80px;
      }
    }
  }
  #headline {
    @include breakpoint(small only) {
      height: 50px;
    }
    @include breakpoint(medium) {
      @include flex-align(center, middle);
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      margin: auto;
      max-height: 400px;
      z-index: 200;
    }
    .page-links {
      z-index: 400;
      @include breakpoint(medium) {
        text-align: right;
        @include flex-grid-column(6);
      }
      .links {
        margin-right: 20px;
        a {
          display: inline-block;
          margin-top: 8px;
        }
      }
      h1.logo {
        font-family: $serif;
        color: $black;
        transform: translate(0px)!important;
        position: relative;
        text-transform: capitalize;
        color: $black;
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 60px;
        transition: all 0.5s ease;
        display: block;
        @include breakpoint(medium) {
          margin-bottom: 30px;
          margin-right: 20px;
          font-size: 100px;
          line-height: 80px;
          margin-left: 0;
        }
      }
    }
  }
  .subheader-wrap {
    @include breakpoint(medium) {
      @include flex-grid-column(6);
      border-left: 4px solid $primary-color;
    }
  }
  p.subheader {
    font-size: 110px;
    line-height: 90px;
    color: $black;
    margin: 0;
    position: relative;
    width: 100%;
    font-family: $serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    z-index: 60;
    padding: 20px 20px 0;
    word-spacing: 9999999px;
    a {
      word-spacing:normal;
      font-size: 16px;
      letter-spacing: 0px;
      font-family: $sans600;
      border-bottom: 2px solid $black;
      color: $black;
      padding-bottom: 3px;
      transition: all 0.25s ease;
      &:hover {
        padding-right: 30px;
      }
    }
    @include breakpoint(medium) {
      font-size: 100px;
      line-height: 80px;
    }
    strong {
      color: $primary-color;
      font-weight: 400;
    }
  }
  .page-logo {
    display: block;
    margin: 0 auto 30px;
    width: 33%;
    @include breakpoint(medium) {
      width: 10%;
    }
  }
  .go-down {
    width: 45px;
    height: 40px;
    position: absolute;
    z-index: 599;
    left: 0; right: 0;
    bottom: 25px;
    margin: auto;
    padding: 0;
    font-size: 35px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    animation: bounce 4s 2s infinite;
    .go-down-icon {
      width: 40px;
      height: 40px;
      display: block;
      background-image: url(http://www.saltagency.co/images/down.png);
      background-size: 100% auto;
      background-position: left;
      background-repeat: no-repeat;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.2);
        color: #fff;
        animation: none;
      }
    }
  }
  .parallax {
    opacity: 0;
    transition: opacity 2s ease;
    &.fade {
      opacity: 0.5;
    }
  }
}

/************************

** MOBILE NAV

*************************/
.nav-toggle {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  color: $black;
  margin-top: 12px;
  padding: 10px 0;
  width: 30px;
  margin-right: 24px;
  position: relative;
  z-index: 100;
  span {
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    height: 4px;
    width: 30px;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
  }
  span:after, span:before {
    cursor: pointer;
    border-radius: 6px;
    height: 3px;
    width: 30px;
    background: $black;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
  }
  span:before {
    top: -5px;
  }
  span:after {
    bottom: -5px;
  }
  &.active span:after  {
    bottom: 1px;
  }
  &.active span:before {
    top:0;
  }
  &.active span {
    background-color: transparent;
  }
  &.active span:before {
    transform: rotate(-225deg);
  }
  &.active span:after {
    transform: rotate(-135deg);
  }
}

.full-nav {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  background: $white;
  transition: all 1s ease;
  overflow: hidden;
  &.visible {
    padding-top: 120px;
    top: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      a {
        font-size: 26px;
        color: #2A2A2A;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-left: 6px solid transparent;
        display: block;
        padding-left: 14px;
        margin-bottom: 20px;
        transition: all 0.2s ease;
        font-family: $sans400;
        &.active {
          border-left: 6px solid $primaryColor;
          font-family: $sans800;
        }
        &:hover, &.active {
          border-left: 6px solid $primaryColor;
        }
      }
    }
  }
  p {
    padding: 30px 24px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 1px;
  }
}

/************************

** FOOTER CLASSES

*************************/
#footer {
  padding: 30px 0 15px;
  background: $offWhite;
  position: relative;
  @include breakpoint(medium) {
    padding: 60px 0;
  }
  .branding {
    text-align: center;
    p {
      float: left;
      line-height: 30px;
      text-transform: uppercase;
      font-family: $sans800;
      font-size: 12px;
      color: darken($secondaryColor, 5%);
      letter-spacing: 1px;
      margin: 0;
      @include breakpoint(medium) {
        font-size: 18px;
        line-height: 60px;
      }
    }
    h3 {
      float: left;
      font-family: $serif;
      font-size: 44px;
      line-height: 33px;
      letter-spacing: 1px!important;
      text-transform: capitalize;;
      padding: 0 18px 0 18px;
      @include breakpoint(medium) {
        font-size: 62px;
        letter-spacing: 2px!important;
        padding: 0 36px 0 36px;
        line-height: 65px;
        margin: 0;
      }
    }
  }
}

/************************

** HOME CLASSES

*************************/
#intro {
  background-color: $offWhite;
  text-align: center;
  .hint {
    margin-bottom: 24px;
  }
}

#services {
  overflow: hidden;
}
#serviceList {
  li {
    margin-bottom: 60px;
    @include breakpoint(medium) {
      margin-bottom: 60px;
    }
    &:nth-child(n+4) {
      margin-bottom: 0;
    }
    &:nth-child(n+3) {
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }
    @include breakpoint(large) {
      margin-bottom: 0;
    }
    &:hover img {
      transform: scale(1.1);
    }
    img {
      display: block;
      margin: 0 auto;
      width: 50%;
      height: auto;
      transition: all 0.5s ease;
      @include breakpoint(medium) {
        width: 45%;
      }
      @include breakpoint(large) {
        width: 33%;
      }
    }
    &:hover span {
      letter-spacing: 3px;
    }
    span {
      display: block;
      margin-top: 30px;
      color: $offWhite;
      font-family: $sans800;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      transition: all 0.5s ease;
      @include breakpoint(large) {
        font-size: 10px;
      }
    }
  }
}
#instafeed {
  @include breakpoint(small only) {
    .columns:nth-of-type(n+4) {
      display: none;
    }
  }
  a {
    background: $black;
    overflow: hidden;
    display: block;
    img {
      transform: scale(1.5);
      display: block;
      opacity: 0.75;
      transition: all 0.25s ease;
    }
    &:hover {
      img {
        opacity: 1;
        transform: scale(1.75);
      }
    }
  }
}
#discover {
  .columns {
    margin-bottom: 20px;
    @include breakpoint(medium down) {
      margin-bottom: 20px;
    }
  }
  .discover-link {
    @include breakpoint(medium) {
      padding-top: 20px;
    }
    .columns {
      margin-bottom: 0!important;
    }
  }
}

/************************

** SHOWCASE COMPONENTS

*************************/
#showcaseList {
  margin: 0!important;
  li {
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    @include flex-block(12, 4, 4);
    &:hover .project-details, &.hover .project-details {
      opacity: 1;
      transform: scale(1);
      top: 0;
      transition: opacity .5s ease, transform .5s ease, top 0s ease;
    }
    &:hover img, &.hover img {
      transform: scale(.9);
      transition: all .5s ease;
    }
    .project-details {
      opacity: 0;
      background: rgba($secondaryColor, 0.95);
      border: 10% solid transparent;
      position: absolute;
      z-index: 20;
      left: 0; right: 0; top: -100%; bottom: 0;
      margin: auto;
      width: 80%;
      height: 80%;
      transition: opacity .5s ease, transform .5s ease, top 0s ease .5s;
      transform: scale(.8);
      .column {
        height: 100%;
        padding: 0;
        position: relative;
        padding: 40px;
        @include breakpoint(medium only) {
          padding: 20px;
        }
      }
      h3 {
        color: $white;
        font-size: 58px;
        line-height: 56px;
        width: 100%;
        margin: 0 0 -8px;
        letter-spacing: 1.5px!important;
        text-transform: capitalize;
        position: absolute;
        bottom: 40px;
        word-spacing: 9999999px;
        @include breakpoint(large) {
          font-size: 38px;
          line-height: 36px;
        }
      }
      h5 {
        margin-bottom: 0;
        display: inline-block;
        color: $white;
        font-family: $sans600;
        font-size: 16px;
        width: auto;
        padding: 3px 0 0 0;
        border-top: 2px solid $white;
      }
    }
    img {
      display: block;
      margin: 0;
      transform: scale(1.1);
      transition: all .5s ease;
      width: 100%;
      height: auto;
    }
  }
}
#project {
  .brand-vision {
    font-family: $sans800;
    letter-spacing: -3px;
    font-size: 36px;
    line-height: 36px;
  }
  .excerpt {
    color: $medium-gray;
    margin: 0;
  }
}


#caseStudy {
  background: #000;
  position: relative;
  .row {
    position: relative;
  }
  .parallax {
    opacity: 0.5;
  }
  h2, h4, p {
    color: $white;
    transition: all 0.8s ease;
    text-align: left;
  }
  h2 {
    margin: 4rem auto 4rem;
    word-spacing: 9999999px;
  }
  h4 {
    font-family: $sans600;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 36px;
  }
  p {
    margin: 0;
  }
  .casestudy-link {
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    position: relative;
    color: #fff;
    overflow: hidden;
    padding: 150px 0;
    &:hover:before {
      transition: all 0.2s ease;
    }
    &:hover {
      .post:before {
        transition: all 0.2s ease;
        padding-right: 60px;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all 0.5s ease;
    }
    .post {
      &:before {
        content: "View Case Study";
        padding: 4px 0px 5px;
        font-size: 1.1rem;
        font-family: $sans600;
        color: $white;
        border-top: $white 2px solid;
        transition: all 0.5s ease;
      }
    }
  }
  &:hover {
    .parallax {
      opacity: 0.15;
    }
  }
}

/* DRIBBBLE */
#dribbble {
  .shots {
    padding: 45px 0;
    div {
      margin: 0!important;
      padding: 0!important;
      overflow: hidden;
      background: $black;
      img, a {
        transition: all 0.5s ease;
      }
      &:hover a {
        opacity: 0.8;
        img {
          transform: scale(1.15);
        }
      }
    }
  }
}

// SINGLE styles
#team {
  h3 {
    color: $white;
    @include breakpoint(medium) {
      font-size: 65px;
      line-height: 55px;
    }
  }
  h4 {
    font-size: 20px;
    margin-bottom: 18px;
    color: $white;
    font-family: $sans400;
  }
  h5 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: rgba($white, 0.5);
    font-family: $sans600;
  }
}
#scope {
  h3, h4, h5, p, span {
    color: $black;
  }
  h3 {
    @include breakpoint(medium) {
      font-size: 65px;
      line-height: 55px;
    }
  }
  span {
    display: block;
    font-size: 14px;
    font-family: $sans600;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: darken($secondaryColor, 10%);
  }
}

/************************

** PROCESS PAGE

*************************/
.Process {
  #heart {
    .columns {
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  #serviceList {
    li {
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
        max-width: 80px;
      }
      @include breakpoint(medium) {
        &:nth-child(n+4) {
          margin-bottom: 0;
        }
      }
      span {
        margin: 0;
        font-size: 16px;
      }
      p {
        font-size: 13px;
        color: $secondaryColor;
      }
    }
  }
  #whois {
    img {
      display: block;
      margin: 0;
    }
    .bio {
      @include breakpoint(small only) {
        max-width: 280px;
      }
    }
    span {
      color: scale-color($secondaryColor, $lightness: -20%);
    }
    hr {
      border-color: $secondaryColor;
      margin: 60px 0;
    }
  }
}

.symbol {
  position: absolute;
  margin: auto;
  width: 200px;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 0;
}

.talk {
  h2 {
    margin: 0;
    @include breakpoint(small only) {
      margin-bottom: 15px
    }
  }
  h6, p {
    margin-bottom: 15px;
  }
  @include breakpoint(medium only) {
    .row .row .columns:first-of-type {
      margin-bottom: 12px!important;
    }
  }
}

// SOCIAL COMPONENT
.social-header {
  margin: 0!important;
  p {
    color: $light-gray!important;
    @include breakpoint(medium) {
      padding: 0 20px;
    }
  }
}
.social-list {
  position: relative;
  padding: 30px 0;
  @include breakpoint(small only) {
    margin-top: 60px;
  }
  div {
    padding: 0!important;
    margin: 0!important;
    a.link {
      font-size: 26px;
    }
    a, i {
      transition: all 0.25s ease;
    }
  }
}

#connect {
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  position: absolute;
  z-index: 600;
  top: 0;
  left: 0;
  display: none;
  @include flex-grid-row() { }
  .close {
    @extend .nav-toggle;
    display: none;
    position: absolute;
    z-index: 101;
    top: 40px;
    right: 40px;
  }
  .row {
    height: 100%;
    max-width: 100%;
  }
  .left-panel {
    height: 100%;
    max-width: 100%;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    display: none;
    @include flex-grid-column(8);
    &.visible {
      transform: translateX(0);
    }
  }
  .right-panel {
    height: 100%;
    max-width: 100%;
    right: 100%;
    transition: all 0.5s ease;
    transform: translateX(100%);
    display: none;
    .column {
      padding-left: 45px;
    }
    @include flex-grid-column(12);
    @include breakpoint(medium) {
      @include flex-grid-column(4);
    }
    h2.logo {
      font-size: 66px;
      margin-bottom: 16px;
    }
    &.visible {
      transform: translateX(0);
    }
  }
}
