.flex {
  @include flex-grid-row() { }
  > div, > li {
    @include flex-grid-column()
  }
}
.expanded {
  max-width: 100%;
  width: 100%;
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}
.flex-block {
  list-style-type: none;
  margin: 0;
  width: 100%;
  max-width: 100%;
  li {
    padding: 0!important;
  }
}
@mixin flex-block($small: 1, $medium: 3, $large: 6) {
  @include flex-grid-column($small);

  @include breakpoint(medium) {
    @include flex-grid-column($medium);
  }

  @include breakpoint(large) {
    @include flex-grid-column($large);
  }
}
