$primaryColor : #42D4B2;
$secondaryColor : #CBDAE0;
$offWhite : #F9F9F9;


$sans200 : 'GothamHTFLight','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$sans400 : 'GothamHTFBook','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$sans600 : 'GothamHTFMedium','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$sans800 : 'GothamHTFBold','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$serif : Georgia, serif;
